.colorSwatch_200 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  font-weight: bold;
  font-size: 0.875rem;
}

[data-color="blue-grey-50"] {
  background-color: var(--blue-grey-50);
}

[data-color="blue-grey-100"] {
  background-color: var(--blue-grey-100);
}

[data-color="blue-grey-200"] {
  background-color: var(--blue-grey-200);
}

[data-color="blue-grey-300"] {
  background-color: var(--blue-grey-300);
}

[data-color="blue-grey-400"] {
  background-color: var(--blue-grey-400);
}

[data-color="blue-grey-500"] {
  background-color: var(--blue-grey-500);
}

[data-color="blue-grey-600"] {
  background-color: var(--blue-grey-600);
}

[data-color="blue-grey-700"] {
  background-color: var(--blue-grey-700);
}

[data-color="blue-grey-800"] {
  background-color: var(--blue-grey-800);
}

[data-color="blue-grey-900"] {
  background-color: var(--blue-grey-900);
}

[data-contrast="light"] {
  color: black;
}

[data-contrast="dark"] {
  color: white;
}