@import '../../main.scss';
@import '../../components/colorSwatch_100/colorSwatch_100.scss';

$aside-width-size: 25%;

.designsystem {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: var(--codeAccademy-beige);
}

.designsystem_aside {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: $aside-width-size;
  background-color: var(--codeAccademy-yellow);
  background-color: white;
  border-right: 1px solid black;
  padding: 1rem;
  overflow-y: auto;

  header {
    display: flex;
    flex-direction: column;
    padding: $size-32 $size-16;
    h6 {
      color: black;
      font-family: monospace;
      font-weight: bold;
      font-size: $size-32;
      line-height: 1.2;
    }
  }// Header

  ol {
    display: flex;
    flex-direction: column;
    padding: $size-16;
    list-style-type: decimal-leading-zero;
    list-style-position: inside;

    & > li {
      padding: $size-16;

      padding-left: 0;
      color: var(--blue-grey-300);
      color: black;
      font-family: monospace;

      &.active {
        color: black;
        
        & > a {  
          color: black;
          font-weight: bold;
        }

        & a {
          color: black;
        }
      }

      a {
        text-decoration: none;
        color: var(--blue-grey-300);
        color: black;
        font-size: $size-16;

        &:hover {
          text-decoration: underline;
        }
      }
    } // li

    ul {
      display: flex;
      flex-direction: column;
      padding-left: $size-40;

      li {
        padding: $size-8 0;
      }

      li a {
        font-size: 0.875em;
      }

      li:first-child {
        padding-top: $size-16;
      }
    }
  }// Ol
}// Design System aside

.designsystem_main {
  display: flex;
  flex-direction: column;
  width: calc(100% - $aside-width-size);
  align-items: center;
}

.designsystem_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 720px;
  padding: $size-16;
}

.designsystem_section {
  display: flex;
  flex-direction: column;
  padding-bottom: $size-48;
}

.designsystem_header {
  display: flex;
  flex-direction: column;
  padding: $size-16 0;

  h1 {
    @include headline-400(bold);
    padding: $size-16 0;
  }

  p {
    @include subtitle-100();
    // padding: $size-16 0;
    padding-top: $size-16;
  }
}

.designsystem_content {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid black;
  padding: $size-16;
  margin: $size-32 0;

  &--header {
    padding: $size-16;
    h2 {
      @include headline-600(bold);
    }
  }

  &--ul[data-flex=row] {
    flex-wrap: wrap;
  }

  &--li[data-width=size1] {
    flex-basis: 100%;
  }

  &--li[data-width=size2] {
    flex-basis: 50%;
  }

  &--li[data-width=size3] {
    flex-basis: 33.33%;
  }

  &--li {
    padding: $size-16;
  }
}